* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #ededec;
    padding-top: 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    background-color: #ededec;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    margin-bottom: 56px;
    max-width: 640px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input {
    font-size: 24px;
    padding: 8px;
    margin-right: 5px;
}

form button {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
}

li {
    font-size: 24px;
    cursor: pointer;
}